<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transcritor de Áudio/Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Transcritor de Áudio/Video</h1>
        <form id="uploadForm">
            <input type="file" id="fileInput" accept=".mp4,.mkv,.avi,.mov,.wav,.mp3" required>
            <button type="submit">Enviar e Transcrever</button>
        </form>
        <p id="status"></p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>